/*color schemes:
#C5C1C0 screen
#0A1612 steel
#1A2930 denim
#F7CE3E marigold*/

body {
  color: #0A1612;
  background-color: #C5C1C0;
  max-width: 100%;
  text-align: center;
  margin: auto;
  font-family: 'Bellefair', serif;
}

footer {
  background-color: #F7CE3E
  height: 20px;
}

.main-nav {
  font-size: 30px;
  color: #0A1612;
}

.main-nav li {
  display: inline-block;
s}
